#banner
  .banner_content
    %h1 NoteNote
    %p Your online notebook. Never forget an idea gain.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The greatest notebook application. Period."
    %p.name - Meckenzie Child

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p shoe box fury docs
      .callout
        %h2 Rocket
        %p flipside horseshoe trunkcicle
      .callout
        %h2 Lightning
        %p divbot platypus barks a lot

#bottom_cta
  .wrapper
    %h2 For Reals!
    %p I want you to sign up
    %button= link_to "Click Me", new_user_registration_path

%footer
  %p &copy; Mackenzie Child